*{
    margin: 0;
    padding: 0;
}
body{
    background: #000;
    background-image: url(https://plus.unsplash.com/premium_photo-1669839137069-4166d6ea11f4?q=80&w=1374);
}
.plan{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.ligne{
    display: flex;
    justify-content: center;
    align-items: center;
}
img{
    width: 100px;
    height: 100px;
}